package home

import "movie-matcher/internal/views/layouts"

templ Index() {
	@layouts.Base(true) {
		<div class="w-screen h-screen flex items-center justify-center">
			<h1>
				Home Screen
			</h1>
		</div>
	}
}
